@tailwind base;
@tailwind components;
@tailwind utilities;

.page-not-found{
  background: #ffffff url(/404.jpg) center center/cover no-repeat;
}

::-webkit-scrollbar {
  width: 20px;
}

@media screen and (max-width: 768px) {
  ::-webkit-scrollbar {
    height: 15px;
    width: 15px;
  }
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}
.p-tabview-selected{
  background-color: #f8f9fa !important;
  color: #0EA5E9 !important;
  border-color: #dee2e6 !important;
}

.loader {
  width: 45px;
  aspect-ratio: .75;
  --c: no-repeat linear-gradient(#0EA5E9 0 0);
  background: 
    var(--c) 0%   100%,
    var(--c) 50%  100%,
    var(--c) 100% 100%;
  background-size: 20% 65%;
  animation: l5 1s infinite linear;
}

@keyframes l5 {
  20% {background-position: 0% 50% ,50% 100%,100% 100%}
  40% {background-position: 0% 0%  ,50% 50% ,100% 100%}
  60% {background-position: 0% 100%,50% 0%  ,100% 50% }
  80% {background-position: 0% 100%,50% 100%,100% 0%  }
}

.link.active {
  font-weight: 700;
}