.register-card {
	width: 410px;
    height: 575px;
}

.form-label {
    margin-bottom: .7rem;
}

label {
    display: inline-block;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: 1px solid #d1d5db;
    border-radius: 6px;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

button, input, optgroup, select, textarea {
    line-height: inherit !important;
}